{% extends 'employees\employee_base.html' %}

{% block title %} Customer Weekly Pickup {% endblock %}

{% block header %} Customer Weekly Pickup{% endblock %}

{% block content %}
<form action="{% url 'employees:filter_by_day' %}" method="post">
    {% csrf_token %}
    Pick a day to search by: <input type='text' name='weekly_pickup' id='weekly_pickup' value={{display_customers.weekly_pickup}}><br/>
    <input type="submit" value="Submit">
</form>
<ul>
    {% for customer in display_customers %}
    <h4>{{day_from_form}} - {{ customer.name }}</h4>
    {% endfor %}
</ul>
    
   
    


{% endblock %}