{% extends 'employees\employee_base.html' %}

{% block title %} Customer Weekly Pickup {% endblock %}

{% block header %} Customer Weekly Pickup{% endblock %}

{% block content %}
<form action="{% url 'employees:filter_by_day' %}" method="post">
    {% csrf_token %}
    Pick a day to search by: <input type='text' name='weekly_pickup' id='weekly_pickup' value={{display_customers.weekly_pickup}}><br/>
   <input type="submit" value="Submit">
</form>
<ul>
<div class = "container mt-3"></div>
   <table class ="table table-dark table-striped">
    <thead> 
        <tr>
            <th>Day</th>
            <th>Customer Name</th>
        </tr>    
    </thead>
    <tbody>
        {% for customer in display_customers %}
        <tr>
            <td>{{day_from_form}}</td>
            <td>{{customer.name}}</td>
        </tr>
        {% endfor %}
    </tbody> 
   </table>
</div>     
</ul>
    
   
    


{% endblock %}