{% extends 'customers\customer_base.html' %}

{% block title %} Customer Home {% endblock %}

{% block header %} Customer Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class = "container mt-3"></div>
        <table class ="table table-dark table-striped">
          <thead> 
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Zip Code</th>
                <th>Current Balance</th>
                <th>Weekly Pick up Day</th>
            </tr>    
        </thead>
        <tbody>
            <tr>
                 <td>{{logged_in_customer.name}}</td>
                 <td>{{ logged_in_customer.address }} </td>
                 <td>{{logged_in_customer.zip_code }}</td>
                 <td>$ {{ logged_in_customer.balance }}.00</td>
                 <td>{{ logged_in_customer.weekly_pickup }}</td>
            </tr>
          </tbody> 
       </table>
    </div>  
        <br />
        <br />
        {% if logged_in_customer.one_time_pickup %}
          You have an extra pickup scheduled for {{ logged_in_customer.one_time_pickup }}
        {% endif %}
        <br />
        <br />
        {% if today > logged_in_customer.suspend_start and today < logged_in_customer.suspend_end %}
          Your pickups are suspended until {{ logged_in_customer.suspend_end }}
        {% endif %}

  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}